// reset

@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/NotoSansKR-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSansKR';
}

ul, li {
    list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// start

table {
    width: 100%;
}

.stateIcon img {
    width: 30px;
}