// reset

@font-face {
    font-family: "NotoSansKR";
    src: url("../fonts/NotoSansKR-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSansKR';
}

ul, li {
    list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// common

a {
    color: #007DCC;
}

p {
    line-height: 1.5;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.sr-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

// start

body {
    margin-top: 50px;
    padding: 30px;
    background-color: #FFF6FB;
    color: #212023;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

header ul a {
    color: #F9F871;
}

.update {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #BCA5AE;
    font-size: 14px;
}

.title-dec {
    margin-top: 10px;
    font-size: 20px;
}

hr {
    margin: 15px 0;
    border-top: 1px dashed #D8BFD8;
}

#tag-list a,
.goto-list {
    display: inline-block;
    min-width: 50px;
    margin-top: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    background-color: #554149;
    color: #FFE4F7;
    text-align: center;
}

section {
    margin: 50px 0;
}

table {
    width: 100%;
}

table tbody td:first-child {
    cursor: pointer;
}

.deck {
    margin: 10px 0 15px;
}

.stateIcon img {
    width: 30px;
}

#can-i-use {
    background-color: #DAF3FF;
}

#can-i-use .update {
    background-color: #94ADCF;
}

#can-i-use #tag-list a,
#can-i-use .goto-list {
    background-color: #8FC2D8;
    color: #DAF3FF;
}

#can-i-use hr {
    border-top: 1px dotted #94ADCF;
}